body {
    background-color: rgb(205, 179, 255);
    display: flex;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif1;
}

.tarea {
    padding: 10px;
    height: 40vh;
    width: 15vw;
    text-align: center;
    background-color: rgb(220, 167, 255);
    box-shadow: 3px 3px 8px gray;
    border-radius: 20px;
    margin: 20px;
}

a {
    color: rgb(89, 0, 131);
    text-decoration: none;
    transition: text-decoration 0.5s ease;
    font-size: 18px;
    font-weight: 900;
}

a:hover {
    text-decoration: underline;
}

.a-saber {
    color: rgb(122, 80, 0);
}

.aprobado {
    color: green;
}

.suspenso {
    color: red;
}

span {
    font-size: 30px;
}